@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    height: 100vh;
    background-color: rgb(31 41 55);
    color: #fff;
    padding: 0 32px;
  }
}

.overflow-highlight {
  position: relative;
}

.overflow-highlight::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px dashed #ef4444;
  background-color: rgba(239, 68, 68, 0.1);
  pointer-events: none;
  z-index: 40;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
